
*,:before, :after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.gpt-chat-app {
  
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.grid-child {
  border: 2px solid #222;
  border-radius: 15px;
  padding: 10px;
  &:hover {
    background: whitesmoke;
    color: #212121;
    border: 2px solid #222;
  }
  h4 {
    font-weight: 700;
  }
  p {
    font-size: 15px;
  }
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 1em auto;
  width: 100%;
}

.action-btn {
  font-size: 20px;
  min-width: 200px;
  height: 50px;
  border: solid 2px #222;
  cursor: pointer;
}

.generated-images {
  .image-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
  }
}

.generated-img {
  max-width: 40em;
  margin: 1em auto;
  img {
    width: 100%; 
    height: auto;
  }
}

.api-result {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 40em;
  margin: 1em auto;
  text-align: left;
}

.loading-indicator {
  margin: 1em;
}

.back-trigger {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1.3em;
  a {
    // color: #fff;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}